body{
    text-align: left;
}

main h2{
    font-weight: bold;
    text-decoration: underline;
    padding: 1em 1em .25em 1em;
}

main p2{
    padding-left: 3em;
}

main img {
    max-width: 10%;
    border: 2px ridge black;;
}
